.hoverli:hover {
  background-color: #98bf11;
  color: white;
}

.selected {
  background-color: #98bf11;
  color: white;
}

.hoverlink {
  display: block;
  padding: 0.5rem 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: black;
}

.hoverlink:hover {
  color: white;
}

.border-right {
  border-right: 3px solid rgb(165, 165, 165);
}
