.loginContainer,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

input.loginField {
  font-size: 24px;
  border-radius: 3px;
}

button.loginSubmit {
  font-size: 20px;
  border-radius: 1.5rem;
  padding: 20px;
  border: none;
  background-color: var(--apple-green);
  color: white;
  margin-top: 10px;
}

button.loginSubmit:hover {
  cursor: pointer;
}

.formWarning {
  font-size: 20px;
  color: red;
}
